COMMON_DB_HOST=localhost
MYSQL_USERNAME=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""
PGSQL_HOST=localhost
PGSQL_USERNAME=""
PGSQL_DATABASE=""
PGSQL_PASSWORD=""
MYSQL_PORT=3306
PGSQL_PORT=5432
ORCL_DBUSER=
ORCL_DBPASSWORD=
ORCL_DBPORT=
ORCL_HOST=
ORCL_TNS_NAME=
