APP_PORT=
COMMON_DB_HOST=localhost
MYSQL_USERNAME=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""
PGSQL_HOST=
PGSQL_USERNAME=""
PGSQL_DATABASE=""
PGSQL_PASSWORD=""
MYSQL_PORT=
PGSQL_PORT=
ORCL_DBUSER=
ORCL_DBPASSWORD=
ORCL_DBPORT=
ORCL_HOST=
ORCL_TNS_NAME=
