[Unit]
Description=Simple, robust and versatile GeoJSON backend server for geospatial data
Documentation=https://github.com/andyprasetya/nodejs-geojson-topojson-server
After=network.target

[Service]
WorkingDirectory=/full/path/to/this/project
Environment=NODE_ENV=production
Type=simple
User=[_username_]
ExecStart=/usr/bin/node /full/path/to/this/project/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
